.header
	p Всем привет привет привет привет Здарова!!!!!!!!! 
		strong How are you, men???
	p.styl Hop Hop Hop
	input(class="button", type="button", value="Входите")
	input#data(type="datetime", name="data")
	a.button(href="#") Hello