meta(charset="utf-8")

title #{title}
meta(name="description" content="")

meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

meta(property="og:image" content="path/to/image.jpg")
link(rel="shortcut icon", href="img/favicon/favicon.ico", type="image/x-icon")

meta(name="theme-color" content="#000")