doctype html

- var title = 'Главная страница'

html(lang="ru-RU")

	head
		include ../modules/head
	
	body
		include ../modules/header

		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/scripts.min.js")